<div>
<%= render "form"%>
</div>
<p>
    all messages:


<% @posts.each do |post| %>
<div>
"<%= post.body%>"
<br>
<% if user_signed_in? %>
~ <em><%= post.user.username%></em>
<% else %>
~ <em>anonymous acolyte</em>
<% end %>
<% end %>
</p>

